body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.margin-top-msg {
  margin-top: 30px;
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.font-receipt {
  font-family: sans-serif;
}

.font-receipt-small {
  font-size: 21px;
}

.font-receipt-small-2 {
  font-size: 17px;
}

.font-receipt-small-F {
  font-size: 23px;
}

.font-receipt-medium {
  font-size: 22px;
}

.font-receipt-big {
  font-size: 28px;
}

table a {
  color: #17a2b8 !important;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.8;
  cursor: not-allowed;
}

.button-local {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.cursor-pointer {
  cursor: pointer;
}
