body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.margin-top-msg {
  margin-top: 30px;
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.font-receipt {
  font-family: Arial, Helvetica, sans-serif;
}

.font-receipt-small {
  font-size: 16px;
}

.font-receipt-medium {
  font-size: 20px;
}

.font-receipt-big {
  font-size: 26px;
}

table a {
  color: #17a2b8 !important;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.8;
  cursor: not-allowed;
}

.button-local {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  color: white !important;
}
